

.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
  padding-bottom: 0px!important;

  min-height: 100%!important;

}
.scrollable-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollable {
  width: auto;
  height: 100%;
}
.scrollable-header {
  
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  display: block;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  background-color: #f7f7f7;
}
.navbars{
  border-radius: 0px;
  margin-bottom: -1px;
  display: flex !important;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
}
.btn-primarys {
  color: #fff;
  background-color: #007aff;
  border-color: #006ee6;
  border-color: #ccc;
  border-radius: 5px;
}
.btn-primarys:hover {
  color: #fff;
  
  background-color: #286090;
  border-color: #ccc;
}
.btn-white {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 5px;
}
.btn-white:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.scrollable-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.forms{
  border-radius: 3px;
  background-color: white;
  border: 1px solid #DDDDDD;
  margin-top: 20px;
  /* padding-left: 10px;
  padding-right: 10px; */
}
.PivotTableUI {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.PivotTableUI > * {
  flex-shrink: 0;
}
.PivotTableUI > .pvtRendererArea {
  overflow-y: auto;
}




.btn__export {

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;


}
