

.content__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
 
}

.table__data{
  border: 1px solid #DDDDDD !important;
  overflow-x: auto !important;
   padding-left: 10px !important;
  padding-right: 10px !important;
}

.content__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: black;
  padding-top: 10px;
}
.col3{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}
.col3_2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  padding-top: 20px;
}
.typography {
  font-size: 13px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 700;
}
.col3 Input{
  font-size: 12px;

  width: 200px;
}
.paper{
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.col3__input{

  font-size: 15px !important;
  width: 200px;
  margin-left: 10px;
}
.col3__inputt{

  font-size: 15px !important;
  width: 200px;
  margin-left: 10px;
}
.typographys {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  color: #757575;
}
.col3_calenders{
  margin-top: 15px;
  margin-bottom: 10px;
}
.btn-success {
  color: #fff !important;
  background: LimeGreen !important;
  border: 0 !important;
  box-shadow: none !important;
}

.btn-success:hover {
  background: #0072d9 !important;
  color: #fff !important;
}
.col3__button{
  margin-top: 10px !important;
}

.content__right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}
.content__right .button{
  height: 25px;
  width: auto;
  border-radius: 5px;
  display: flex;
  

}
.content__right .button__title{
  font-size: 12px;
  text-align: center;
  
}
.btn-black{
  color: #fff !important;
  background-color: #0B2B20;
  border: 0 !important;
  box-shadow: none !important;
}
.btn_header_table {
	background-color: #0B2B20;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgb(0 0 0 / 5%) 0px 20px 27px 0px;
}
.btn_header_table:hover {
	opacity: 0.8;
}